aiohttp==3.8.6
aiosignal==1.3.1
altair==5.1.2
async-timeout==4.0.3
attrs==23.1.0
autogen==1.0.16
autopep8==2.0.4
blinker==1.7.0
Brotli==1.0.9
cachetools==5.3.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.1
click==8.1.7
contourpy==1.2.0
cssselect2==0.7.0
cycler==0.12.1
diskcache==5.6.3
distlib==0.3.6
docopt==0.6.2
docutils==0.20.1
filelock==3.12.0
FLAML==2.1.1
Flask==3.0.0
fonttools==4.40.0
freetype-py==2.3.0
frozenlist==1.4.0
gitdb==4.0.11
GitPython==3.1.40
gpg==1.22.0
html5lib==1.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
Jinja2==3.1.2
jsonify==0.5
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
keyring==24.2.0
kiwisolver==1.4.5
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
mdurl==0.1.2
more-itertools==10.1.0
multidict==6.0.4
mutagen @ file:///private/tmp/python-mutagen-20230914-6142-6c2fxs/mutagen-1.47.0
nh3==0.2.14
numpy==1.24.3
openai==0.28.1
packaging==23.2
pandas==2.0.2
pdfkit==1.0.0
Pillow==9.5.0
pipdeptree==2.13.1
pkginfo==1.9.6
platformdirs==3.5.1
plotly==5.18.0
protobuf==4.21.12
pyarrow==14.0.1
pyautogen==0.1.13
pycairo==1.23.0
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.19.0
pydeck==0.8.1b0
pydyf==0.6.0
Pygments==2.16.1
pyparsing==3.1.1
pyphen==0.14.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
readme-renderer==42.0
referencing==0.31.0
reportlab==4.0.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.6.0
rlPyCairo==0.2.0
rpds-py==0.13.0
six==1.16.0
smmap==5.0.1
streamlit==1.28.2
tenacity==8.2.3
termcolor==2.3.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
twine==4.0.2
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.7
validators==0.22.0
virtualenv==20.23.0
weasyprint==59.0
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.1
yarl==1.9.2
youtube-dl==2021.12.17
yt-dlp==2023.11.16
zipp==3.17.0
zopfli==0.2.2
